.home-container {
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}

body {
    margin-top: var(--header-height); 
    margin-bottom: var(--footer-height); 
    padding: 0;
    display: flex;
    flex-direction: column; 
}

.moviepage-container {
    padding: 20px;
    margin-top: var(--header-height);
    background-color: #ffffff;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 1200px; /* Optional: limit max width */
    margin: 0 auto; /* Center the container horizontally */
}

.moviepage-loading-message,
.moviepage-error-message {
    text-align: center;
    font-size: 18px;
    color: #d9534f;
    margin-top: 20px;
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.moviepage-details {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 20px;
    padding: 20px;
    background-color: #676a7f7a;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.moviepage-poster-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Space between the image and the heart icon */
}

.moviepage-poster {
    width: 300px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heart-icon {
    font-size: 24px;
    color: #ccc; /* Default unselected color */
    cursor: pointer;
    transition: color 0.3s ease;
}

.heart-icon.filled {
    color: red; /* Selected color */
}

.moviepage-info {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 10px;
}

.moviepage-info h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

.moviepage-info p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; 
}

/* Responsive layout adjustments */
@media (max-width: 768px) {
    .moviepage-details {
        flex-direction: column; 
        align-items: center;
    }

    .moviepage-poster {
        width: 100%; 
        max-width: 300px;
    }

    .moviepage-info {
        text-align: center;
    }
}
