.feed2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 0px;
    background-color: #8b8b8b33;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    height: auto;
}

.feed2-header {
    text-align: center;
    margin-bottom: 10px;
}

.feed-heading {
    font-size: 1.5em;
    color: #333;
    margin: 0;
}

.carousel-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 220px;
    overflow: hidden;
}

.carousel-wrapper.paused .carousel {
    animation-play-state: paused; 
}

.carousel {
    display: flex;
    gap: 15px;
    justify-content: center;
    animation: scroll-left 800s linear infinite;
    height: 100%;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 140px;
    height: 200px;
    overflow: hidden;
}

.movie-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.movie-name {
    font-size: 14px;
    text-align: center;
    color: #333;
}

.movie-name-link {
    text-decoration: none;
    color: #ffffff;
}

.carousel-btn:hover {
    background-color: #555;
}


/* Animation for smooth scrolling */
@keyframes scroll-left {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-100%); 
    }
}

@media (max-width: 480px) {
    .carousel-item {
        width: 120px; 
        height: 220px;
    }

    .movie-image {
        width: 80px;
        height: 80px;
    }

    .movie-name {
        font-size: 12px;
    }

    .carousel-btn {
        width: 25px;
        height: 25px;
        font-size: 16px;
    }
}
