.tables-container-div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the table container */
    gap: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 100%; /* Increased max-width to accommodate larger tables */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.466); /* Added subtle shadow for better visibility */
    overflow: hidden;
}

.tables-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #ffffff;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Added shadow to the table for depth */
}


.tables-table th {
    background-color: #e9ecef;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border: 1px solid #dee2e6;
    color: #495057;
}

.tables-table td {
    padding: 10px;
    border: 1px solid #dee2e6;
    text-align: left; /* Ensuring all table data aligns to the left */
}

.tables-table th {
    position: sticky;
    top: 0;

    z-index: 10; /* Ensure it stays on top of other rows */
}
.tables-table tr:nth-child(even) {
    background-color: #f8f9fa;
}

.tables-table tr:hover {
    background-color: #f1f3f5;
}

.tables-header {
    text-align: center;
    margin-bottom: 20px;
}

.tables-heading {
    font-size: 1.75em;
    color: #212529;
    margin: 0;
    font-weight: 600; /* Added a bit more weight for emphasis */
}

.tables-container-div h2 {
    font-size: 2em;
    color: #212529;
    margin-bottom: 15px; /* Better spacing between heading and table */
}


.table-container {
    height:50vh;
    max-width:70vw;
    overflow: auto;

}